<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elliott.a18350.irecognizer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.elliott.a18350.irecognizer.MainActivity"

            android:theme="@style/TranslucentTheme"/>
        <activity android:name="com.elliott.a18350.irecognizer.RecognizeActivity"
            android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:name="com.elliott.a18350.irecognizer.InfoActivity"
            android:theme="@style/TranslucentTheme"/>
        <activity android:name="com.elliott.a18350.irecognizer.LaunchActivity"
            android:theme="@style/TransSplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.elliott.a18350.irecognizer.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>